{% load static %}
{% if user.is_autenticate %}
    <!-- Main Footer -->
    <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
    </div>
    </footer>
{% else %}
    <footer role="contentinfo" class="footer bg-primary">
        <div class="container"><div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="region region-footer-branding">
                    <div id="block-marcadelsitio" class="block block-system block-system-branding-block">
                        <a href="/" rel="home" class="site-logo">
                            <img src="{% static 'dist/img/logo-1.png' %}" style="height: 100px; -webkit-tap-highlight-color: transparent;">
                        </a>
                    </div>
                    <div class="views-element-container block block-views block-views-blockultima-actualizacion-block-1" id="block-views-block-ultima-actualizacion-block-1">
                        <h2>Última actualización</h2>
                        <div>
                            <div class="view view-ultima-actualizacion view-id-ultima_actualizacion view-display-id-block_1 js-view-dom-id-b624d1a5a802d96693528a279fab592479abcaa703f60e3d62bd0349ab377378">
                                <div class="view-content">
                                    <div class="views-row">
                                        <div class="views-field views-field-changed">
                                            <span class="field-content">28/06/2024 - 08:32</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav role="navigation" aria-labelledby="block-menuredessociales-2-menu" id="block-menuredessociales-2" class="block block-menu navigation menu--menu-redes-sociales">
                        <h2 id="block-menuredessociales-2-menu">Síganos en</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="https://www.facebook.com/ContraloriaCuba" class="facebook" target="_blank" title="Facebook">Facebook</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://twitter.com/ContraloriaCuba" class="twitter" target="_blank" title="Twitter">Twitter</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.youtube.com/channel/UCN41MtbAoBojy9uSldH3BUg" class="youtube" target="_blank" title="Youtube">Youtube</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.picta.cu/canal/Contralor%C3%ADa_General_de_la_Rep%C3%BAblica_de_Cuba" class="picta" target="_blank" title="Picta">Picta</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.instagram.com/contraloriacuba/?hl=es-la" class="instagram" target="_blank" title="Instagram">Instagram</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://t.me/Contraloria_General_Cuba" class="telegram" target="_blank">Telegram</a>
                            </li>
                            <li class="menu-item">
                                <a href="/rss.xml" class="rss" target="_blank" data-drupal-link-system-path="rss.xml" title="RSS">RSS</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-8 col-xl-9">
                <div class="region region-footer-enlaces">
                    <div class="views-element-container block block-views block-views-blockenlaces-de-interes-block-1" id="block-views-block-enlaces-de-interes-block-1">
                        <h2>Enlaces de interés</h2>
                        <div>
                            <div class="view view-enlaces-de-interes view-id-enlaces_de_interes view-display-id-block_1 js-view-dom-id-13077f662cc5b7b8c0c8ec745064ece3abb14080c647d776dd4cf9fdd51c54df">
                                <div class="view-content">
                                    <div class="row">
                                        <div class="item col-12 col-lg-4 mb-3">
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="https://www.pcc.cu/es" target="_blank">Partido Comunista de Cuba</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="https://www.presidencia.gob.cu/es/" target="_blank">Sitio de la Presidencia</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.parlamentocubano.gob.cu/" target="_blank">Asamblea Nacional del Poder Popular</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.cubacrece.gob.cu/" target="_blank">Cubacrece</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.fgr.gob.cu/es" target="_blank">Fiscalía General de la República</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item col-12 col-lg-4 mb-3">
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content"><a href="https://www.minint.gob.cu/" target="_blank">Ministerio del Interior</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.tsp.gob.cu/es" target="_blank">Tribunal Supremo Popular</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="https://www.minjus.gob.cu" target="_blank">Ministerio de Justicia</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.minrex.gob.cu/" target="_blank">Ministerio de Relaciones Exteriores</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.onei.gob.cu/" target="_blank">Oficina Nacional de Estadística e Información</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item col-12 col-lg-4 mb-3">
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.fidelcastro.cu" target="_blank">Sitio Fidel Soldado de las ideas</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="https://www.redcuba.cu" target="_blank">Red C.U.B.A</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="https://www.gacetaoficial.gob.cu" target="_blank">Gaceta Oficial de la República de Cuba</a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="views-row">
                                                <div class="views-field views-field-title">
                                                    <span class="field-content">
                                                        <a href="http://www.cubadebate.cu/etiqueta/cuba/" target="_blank">Cubadebate</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="irarriba position-relative">
            <div class="container position-relative">
                <div class="triangulo-equilatero-bottom d-block">
                    <i class="mdi mdi-arrow-up-thick" title="Ir arriba"></i>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="region region-footer">
                        <nav role="navigation" aria-labelledby="block-cgr-footer-menu" id="block-cgr-footer" class="block block-menu navigation menu--footer">
                            <h2 class="visually-hidden" id="block-cgr-footer-menu">Menú al pie</h2>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/preguntas-frecuentes" data-drupal-link-system-path="preguntas-frecuentes">Preguntas frecuentes</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/sitemap" data-drupal-link-system-path="sitemap">Mapa del sitio</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/politicas-de-privacidad" data-drupal-link-system-path="node/70">Políticas de privacidad</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/terminos-y-condiciones-de-uso" data-drupal-link-system-path="node/71">Términos y condiciones de uso</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="region region-footer-info">
                        <div id="block-footerinfo" class="block block-block-content block-block-content173e971f-2d0a-4c88-bc1a-ab10c05d7ca1">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>Todos los derechos reservados © 2019. Contraloría General de la República de Cuba. Desarrollado por
                                    <a href="http://www.uci.cu/">UCI</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}
