{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">
            <img src="{% static 'dist/img/logo-1.png' %}" style="height: 40px;">
        </a>
        <div class="ml-auto d-flex align-items-center">
            {% if request.user.is_authenticated %}
                <div class="mr-2">
                    <a class="btn btn-outline-light" href=".">
                        {% if request.user.groups %}
                        	{{ request.user.groups.all.0.name }} |
                        {% endif %}
                        {{ request.user }}
                    </a>
                </div>
                <div>
                    <a class="btn bg-danger text-light" href="{% url 'user:logout' %}">Cerrar Sesión</a>
                </div>
            {% else %}
                <div>
                    <a class="btn btn-outline-light" href="{% url 'user:login' %}">Acceder</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>
