{% load static %}
<header>

  <!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="{% url 'gestion_contraloria:dashboard' %}" class="navbar-brand">
        <span class="brand-text font-weight-light">CGR</span>
      </a>

      <!-- Session navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "user:login" %}" role="button">Iniciar Sesión
                <i class="fas fa-sign-in-alt"></i>
              </a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "user:logout" %}" role="button">Cerrar Sesión
                <i class="fas fa-power-off power-off"></i>
              </a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- /.navbar -->
</header>
