{% if data.success_message %}
    <script>
        Swal.fire({
            icon: 'success',
            title: '{{ data.success_message }}',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
{% elif data.error_message %}
    <script>
        Swal.fire({
            icon: 'error',
            title: '{{ data.error_message }}',
            showConfirmButton: true,
        });
    </script>
{% endif %}
    <script>
        window.onbeforeunload = function () {
            cerrarSesion();
        };
    </script>

<script>
    {% if messages %}
        var html = '<p>';
        {% for message in messages %}
            html += '{{ message }}<br>';
        {% endfor %}
        html += '</p>';
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            html: html,
        });
    {% endif %}
</script>