{% load static %}      
      
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if user.perfil_user.foto %}
            <img src="/media/{{ user.perfil_user.foto }}" class="img-circle elevation-2" alt="Foto">            
          {% else %}
            <img src="{% static 'img/defecto.jpg' %}" class="img-circle elevation-2" alt="Foto">
          {% endif %}
        </div>
        <div class="info">
          <a href="{% url 'perfil_personal' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>