{% extends "base/body.html" %}
{% load static %}

{% block content %}
<!-- Main Content -->

    <header class="masthead" style="background-image: url('{% static "dist/img/header-bg.svg" %}');
                               height: 100vh;
                               width: 100vw;">
    <a class="navbar-brand" href="#page-top"></a>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase col-12">
                <span>
                    <br>
                    <span style="color: white;">
                        SISTEMA DE CONTROL INTERNO
                    </span>
                    <br>
                    <br>
                </span>
            </div>
            <div class="intro-heading text-uppercase">
                <span>
                    <br>
                    <br>
                    <span></span>
                    <br>
                    <br>
                    <br>
                </span>
            </div>
        </div>
    </div>
    </header>
    <section id="services">
        <div class="container fs-4">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">
                        <br>
                        <span>Componentes</span>
                        <br>
                        <br>
                    </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading ">Actividades de Control</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-save fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Supervisión y Monitoreo</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Información y Comunicación</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="section-heading">Ambiente de control</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="team-member">
                        <img class="rounded-circle" src="{% static 'dist/img/team/MARTI.jpeg' %}">
                        <h4 class="fs-6">José Martí</h4>
                        <p class="text-muted fs-3">
                            <br>
                            <span style="color: rgb(245, 245, 245); background-color: rgb(53,111,220);">...dejar de prever es un delito público: y un delito mayor no obrar, por incapacidad o por miedo, en acuerdo con lo que se prevé</span>
                            <br>
                            <br>
                        </p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{% static 'dist/img/clients/download.png' %}" style="width:150px; height:auto;">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{% static 'dist/img/clients/download.jpg' %}" style="width:150px; height:auto;" style="transform: perspective(1350px);">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{% static 'dist/img/clients/download (2).png' %}" style="width:150px; height:auto;">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{% static 'dist/img/clients/download (1).png' %}" style="width:150px; height:auto;" style="transform: perspective(420px);">
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}