html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
  }
  
  .copyright{
    background-color: rgba(0, 0, 0, 0.2)
  }
  
  .hr_footer{
    width: 60px;
    background-color: #d9534f;
    height: 2px;
  }
  
  .main-footer, .bg_sidebar{
    background-color: #1c2331
  }
  
  .section_footer{
    background-color: #d9534f;
    border-radius: 5px;
  }

  .brand-text-responsive {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier parte del texto que no quepa */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto si no cabe */
}

/* Estilos adicionales para el texto del sidebar cuando está expandido */
.sidebar.expanded .brand-text-responsive {
    font-size: 1.2em; /* Tamaño de fuente más grande cuando el sidebar está expandido */
}
