{% extends "base_general_panel.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"> 
		<a href="{% url 'listar_prestaciones' %}"><i class="fa fa-list"></i> Prestaciones </a>
	</li>
    <li class="breadcrumb-item">
		<i class="fa fa-check"></i> {{ titulo }}
	</li>
{% endblock %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <form action="{% url 'crear_prestacion' %}" method="POST">
        {% if error %}
			<div class="callout callout-danger">
				<span class="error_datos"> <i class="fas fa-times-circle"></i> {{error}}</span> 
			</div>
		{% endif %}
		
        {% csrf_token %}
        {{form.as_p}}
		
		<button class="btn btn-primary" id="enviar_datos" title="Guardar">
            <i class="fa fa-check"></i> Guardar
        </button>
		
		<a href="{% url 'listar_prestaciones' %}" title="Cancelar">
			<button type="button" class="btn btn-danger">
				<i class="fas fa-times"></i> Cancelar
			</button>
		</a>
    </form>
{% endblock %}


{% block scriptjs %}
<script>
	$(function () {
		$("#enviar_datos").click(function(){
			$("#id_codigo").prop('required', true);
			$("#id_descripcion").prop('required', true);
			$("#id_tiempo").prop('required', true);
			$("#id_cant_tecnicos").prop('required', true);
		});
	})
</script>
{% endblock %}
