{% if request.path == '/report_list/' %}
	<a class="btn btn-warning" data-toggle="modal" data-target="#editReporteModal" role="button">
        <i class="fas fa-edit"></i>
    </a>
{% else %}
    
{% endif %}
<div class="modal fade" 
     {% if request.path == '/report_list/' %}
     id="editReporteModal"
     aria-labelledby="editReporteModalLabel" 
     {% else %}
     id="crearReporteModal"
     aria-labelledby="editReporteModalLabel" 
     {% endif %}
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editReporteModalLabel">Reporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form {% if request.path == '/report_list/' %}
                action="{% url 'gestion_contraloria:report_update' user_report.pk %}"
            {% else %}
              action="{% url 'gestion_contraloria:report_create' %}"
            {% endif %}
              method="post">
        <div class="modal-body">
          {% csrf_token %}
          <!-- Campos del formulario -->
          <div class="form-group">
            <label for="id_ingresos_anuales">Ingresos Anuales:</label>
            <input type="number" name="ingresos_anuales" id="id_ingresos_anuales" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_gastos_de_capital">Gastos de Capital:</label>
            <input type="number" name="gastos_de_capital" id="id_gastos_de_capital" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_proyectos">Proyectos:</label>
            <input type="number" name="proyectos" id="id_proyectos" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_condiciones_economicas">Condiciones Económicas:</label>
            <input type="text" name="condiciones_económicas" id="id_condiciones_economicas" class="form-control" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="id_deudas_actuales">Deudas Actuales:</label>
            <input type="number" name="deudas_actuales" id="id_deudas_actuales" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_personal">Personal:</label>
            <input type="number" name="personal" id="id_personal" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="id_costos_de_personal">Costos de Personal:</label>
            <input type="number" name="costos_de_personal" id="id_costos_de_personal" class="form-control" required>
          </div>
          <!-- Campos ocultos organizacion_id y user_id -->
          <input type="hidden" name="organizacion_id" value="{{ org.id }}">
          <input type="hidden" name="action_add" value="{{ action_add }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar Reporte</button>
        </div>
      </form>
    </div>
  </div>
</div>