{% extends "base_general_panel.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
		<i class="fa fa-list"></i> {{ titulo }}
	</li>
{% endblock %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-md-12">
			<a href="{% url 'crear_prestacion' %}" title="Adicionar">
				<button type="button" class="btn btn-primary">
					<i class="fa fa-plus"></i> Adicionar
				</button>
			</a>
			</br>
			<p></p>
		</div>
	</div>

    <table id="listar_prestaciones" class="table table-bordered table-striped">
        <thead class="bg-secondary">
            <tr>
				<th>Casa comercial</th>
				<th>Línea tecnológica</th>
				<th>Modalidad</th>
				<th>Código</th>
				<th>Descripción</th>				
				<th>Tiempo aproximado</th>
				<th>Cantidad de técnicos</th>
				<th>Precio</th>
                <th>Tiempo Real</th>
                <th>Acciones</th>
            </tr>
        </thead>        
        <tbody>
            {% for prestacion in listado %}
                <tr>
					<td>{{ prestacion.get_casa_comercial }}</td>
					<td>{{ prestacion.get_linea_tecnologica }}</td>
					<td>{{ prestacion.get_modalidad }}</td>
					<td>{{ prestacion.get_codigo }}</td>
					<td>{{ prestacion.descripcion }}</td>					
					<td>{{ prestacion.tiempo }}</td>
					<td>{{ prestacion.cant_tecnicos }}</td>
					<td>{{ prestacion.get_precio }}</td>
					<td>{{ prestacion.get_tiempo_real }}</td>
                    <td class="center_data">
						<div class="btn-group">
							<a href="{% url 'detalles_prestacion' prestacion.id %}" title="Ver Detalles">
								<button type="button" class="btn btn-info">
									<i class="fas fa-file-pdf"></i>
								</button>
							</a>
							
							<a href="{% url 'editar_prestacion' prestacion.id %}" title="Editar">
								<button type="button" class="btn btn-secondary">
									<i class="fas fa-edit"></i>
								</button>
							</a>		
									
							<button type="button" class="btn btn-danger" onclick="eliminar_prestacion({{ prestacion.id }});" title="Eliminar">
								<i class="fas fa-trash"></i>
							</button>							
						</div>               
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scriptjs %}
<script>
	$(function () {
		//----------------------------------------------------------------------------------
		var titulo = "Listado de prestaciones";
		$("#listar_prestaciones").DataTable({
			"responsive": true,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"aoColumnDefs": [no_ordenar([5,6,7,8,9])],
			"buttons": [
			  btn_pdf(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8], "h"),
			  btn_print(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8]),
			  btn_colvis(),    
			],
			"language": datatable_espannol,
		}).buttons().container().appendTo('#listar_prestaciones_wrapper .col-md-6:eq(0)');
		//----------------------------------------------------------------------------------
	})
	//----------------------------------------------------------------------------------
	function eliminar_prestacion(id){
	  eliminar_generico("confirmar_eliminar_prestacion", id, "eliminar_prestacion_secret")
	}
	//----------------------------------------------------------------------------------
</script>
{% endblock %}