{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
		<i class="fa fa-list"></i> {{ titulo }}
	</li>
{% endblock %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block contenido %}

    <table id="listar_reportes" class="table table-bordered table-striped">
        <thead class="bg-secondary">
            <tr>
				<th>Organización</th>
				<th>Ingresos Anuales</th>
				<th>Gastos Capital</th>
				<th>Proyectos</th>
				<th>Deudas Actuales</th>
				<th>Personal</th>
				<th>Costos Personal</th>
				<th>Necesidades</th>
				<th>Reservas</th>
				<th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>        
        <tbody>
            {% for reporte in reporte_list %}
                <tr>
					<td>{{ reporte.organizacion_id.nombre }}</td>
					<td>{{ reporte.ingresos_anuales }}</td>
					<td>{{ reporte.gastos_de_capital }}</td>				
					<td>{{ reporte.proyectos }}</td>
					<td>{{ reporte.deudas_actuales }}</td>
					<td>{{ reporte.personal }}</td>
					<td>{{ reporte.costos_de_personal }}</td>
					<td>{{ reporte.necesidades_tecnológicas }}</td>
					<td>{{ reporte.reservas_de_contingencia }}</td>
					<td>{{ reporte.fecha }}</td>
                    
                    <td class="center_data">
						<div class="btn-group">
							<a href="#" title="Ver Detalles">
								<button type="button" class="btn btn-info">
									<i class="fas fa-file-pdf"></i>
								</button>
							</a>
							
							<a href="#" title="Editar">
								<button type="button" class="btn btn-secondary">
									<i class="fas fa-edit"></i>
								</button>
							</a>		
									
							<button type="button" class="btn btn-danger" onclick="eliminar_reporte({{ reporte.id }});" title="Eliminar">
								<i class="fas fa-trash"></i>
							</button>							
						</div>               
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scriptjs %}
<script>
	$(function () {
		//----------------------------------------------------------------------------------
		var titulo = "Listado de reportes";
		$("#listar_reportes").DataTable({
			"responsive": true,
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"aoColumnDefs": [no_ordenar([5,6,7,8,9])],
			"buttons": [
			  btn_pdf(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8], "h"),
			  btn_print(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8]),
			  btn_colvis(),    
			],
			"language": datatable_espannol,
		}).buttons().container().appendTo('#listar_reportes_wrapper .col-md-6:eq(0)');
		//----------------------------------------------------------------------------------
	})
	//----------------------------------------------------------------------------------
	function eliminar_reporte(id){
	  eliminar_generico("confirmar_eliminar_reporte", id, "eliminar_reporte_secret")
	}
	//----------------------------------------------------------------------------------
</script>
{% endblock %}