{% extends "base_general_panel.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
		<i class="fa fa-list"></i> {{ titulo }}
	</li>
{% endblock %}

{% block titulo %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-md-12">
			<a href="{% url 'reporte_prestaciones' %}" title="Adicionar">
				<button type="button" class="btn btn-primary">
					<i class="fa fa-search"></i> Nueva búsqueda
				</button>
			</a>
			</br>
			<p></p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<p>
				<b>Casa comercial:</b> {{ casa }} </br>
				<b>Línea tecnológica:</b> {{ linea }} </br>
				<b>Modalidad:</b> {{ modalidad }} </br>
				<b>Descripción:</b> {{ descripcion }} </br>
			</p>
		</div>
	</div>

	<div style="display: none;" id="info_add">
		<b>Filtros seleccionados en la búsqueda:</b></br>
		<b>Casa comercial:</b> {{ casa }} </br>
		<b>Línea tecnológica:</b> {{ linea }} </br>
		<b>Modalidad:</b> {{ modalidad }} </br>
		<b>Descripción:</b> {{ descripcion }} </br>
	</div>
	
    <table id="buscar_prestaciones" class="table table-bordered table-striped">
        <thead class="bg-secondary">
            <tr>
				<th>Casa comercial</th>
				<th>Línea tecnológica</th>
				<th>Modalidad</th>
				<th>Código</th>
				<th>Descripción</th>				
				<th>Tiempo aproximado</th>
				<th>Cantidad de técnicos</th>
				<th>Precio</th>
                <th>Tiempo Real</th>
                <th>Detalles</th>
            </tr>
        </thead>        
        <tbody>
            {% for prestacion in resultado %}
                <tr>
					<td>{{ prestacion.get_casa_comercial }}</td>
					<td>{{ prestacion.get_linea_tecnologica }}</td>
					<td>{{ prestacion.get_modalidad }}</td>
					<td>{{ prestacion.get_codigo }}</td>
					<td>{{ prestacion.descripcion }}</td>
					<td>{{ prestacion.tiempo }}</td>
					<td>{{ prestacion.cant_tecnicos }}</td>
					<td>{{ prestacion.get_precio }}</td>
					<td>{{ prestacion.get_tiempo_real }}</td>
                    <td class="center_data">
						<div class="btn-group">
							<a href="{% url 'detalles_prestacion1' prestacion.id %}" title="Ver Detalles">
								<button type="button" class="btn btn-info">
									<i class="fas fa-file-pdf"></i>
								</button>
							</a>							
						</div>               
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scriptjs %}
<script>
	$(function () {
		//----------------------------------------------------------------------------------
		var titulo = "Reporte de prestaciones";
		$("#buscar_prestaciones").DataTable({
			"responsive": true,
			"paging": true,
			"lengthChange": true,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"aoColumnDefs": [no_ordenar([5,6,7,8,9])],
			"buttons": [
			  btn_pdf(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8], "h", 1),
			  btn_print(titulo, [0, 1, 2, 3, 4, 5, 6, 7, 8]),    
			],
			"language": datatable_espannol,
		}).buttons().container().appendTo('#buscar_prestaciones_wrapper .col-md-6:eq(0)');
		//----------------------------------------------------------------------------------
	})
</script>
{% endblock %}
