
<div class="content">
  <div class="container-fluid">
    <div class="col">
      <!-- /.col-md-6 -->
      <div class="col-lg-12">
        <div id="graf_bar">
        </div>
        <!-- /.card -->
      </div>
      <div class="col-lg-12">
        <div id="graf_pastel">
        </div>
        <!-- /.card -->
      </div>  
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->

<!-- Grafico barras -->
<script>
    Highcharts.chart('graf_bar', {
        chart: {
            type: 'column',
            zooming: {
                type: 'y'
            }
        },
        title: {
            text: 'Organizaciones auditadas'
        },
        subtitle: {
            text: 'Gráfica de auditorias realizadas a las organizaciones en cada mes'
        },
        xAxis: {
            categories: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Nobiembre',
                'Diciembre'
            ],
            title: {
                text: null
            },
            accessibility: {
                description: 'Organizaciones'
            }
        },
        yAxis: {
            min: 0,
            tickInterval: 2,
            title: {
                text: 'Auditorias'
            },
            labels: {
                overflow: 'justify',
                format: '{value}'
            }
        },
        plotOptions: {
            column: {
                dataLabels: {
                    enabled: true,
                    format: '{y}'
                }
            }
        },
        tooltip: {
            valueSuffix: ' auditoria(s)',
            stickOnContact: true,
            backgroundColor: 'rgba(255, 255, 255, 0.93)'
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Auditoria(s) realizada(s) a la organización',
                data: {{ reportes_anno_mes|safe }},
                borderColor: '#5997DE'
            }
        ]
    });
</script>
<!-- Grafico pastel -->
<script>
    Highcharts.chart('graf_pastel', {
        colors: ['#01BAF2', '#f6fa4b', '#FAA74B', '#baf201', '#f201ba'],
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Organizaciones'
        },
        tooltip: {
            valueSuffix: '%'
        },
        subtitle: {
            text:
            'Representacion de las organizaciones auditadas y sin auditar'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.percentage:.1f}%'
                },
                showInLegend: false
            }
        },
        series: [
            {
                name: 'Organizaciones',
                colorByPoint: true,
                data: [
                    {
                        name: 'Auditadas',
                        y: 55.02
                    },
                    {
                        name: 'Sin auditar',
                        y: 15.5
                    },
                ]
            }
        ]
    });
</script>